.features {
  @media (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  @media (min-width: 1200px) {
    display: flex;
  }
}

.features__item {
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 0px;
  }
  @media (min-width: 768px) and (max-width: 1199px) {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }

  @media (min-width: 1200px) {
    margin-right: 30px;
    margin-bottom: 0px;
    &:last-child {
      margin-right: 0px;
    }
  }
}

.features__title {
  color: $black-color;
  text-transform: uppercase;

  margin-bottom: 10px;

  @include font-style(700, 14px, 16px);

  @media (max-width: 767px) {
    text-align: center;
  }
}
.features__text {
  @include font-style($size: 14px, $height: 24px);
}
.features__box {
  @include flex-center();
  background-color: $third-Background-Color;
  margin-bottom: 30px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
}
