.button-menu {
  background-color: white;
  fill: $black-color;
  &:hover,
  &:focus {
    fill: $accent-Color;
  }
  @media (min-width: 768px) {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 48px 40px;
  background-color: $white-color;

  transform: translateX(100%);

  overflow-y: scroll;

  @include animation($properties: transform);
}
.menu-container.is-open {
  transform: translateX(0);
}

.menu-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.button-menu--close {
  position: absolute;
  top: 10px;
  right: 15px;
}
.menu-container .site-nav {
  display: block;
}
.menu-container .site-contacts {
  display: block;
}
