.site-nav {
  display: none;

  @media (min-width: 768px) {
    display: flex;
  }
}
.site-nav__item {
  @media (max-width: 767px) {
    margin-bottom: 32px;
    &:last-child {
      margin-bottom: 0px;
    }
  }

  @media (min-width: 768px) {
    margin-right: 50px;
    &:last-child {
      margin-right: 0px;
    }
  }
}

.site-nav__link {
  color: $black-color;
  @media (min-width: 768px) {
    position: relative;
  }
}
.site-nav__link {
  @include font-style(500, 40px, 47px, 0.02em);

  @include animation($properties: color);

  &:hover,
  &:focus {
    color: $accent-Color;
    fill: $accent-Color;
  }
  @media (min-width: 768px) {
    @include font-style(500, 14px, 16px, 0.02em);
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.site-nav__link--current {
  color: $accent-Color;
  @media (min-width: 768px) {
    &::after {
      position: absolute;

      content: '';
      background-color: $accent-Color;
      border-radius: 2px;
      width: 100%;
      height: 4px;

      bottom: -1px;
      left: 0px;
    }
  }
}
