body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  color: #757575;
  background-color: white;
}
// body.modal-open {
//   overflow: hidden;
// }
// body,
// html {
//   overflow: hidden;
// }

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 480px) {
    width: 480px;
  }
  @media (min-width: 768px) {
    width: 768px;
  }
  @media (min-width: 1200px) {
    width: 1200px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  font-style: normal;
}
body.modal-open {
  overflow: hidden;
}
