@mixin animation($properties: 'All') {
  transition-property: $properties;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

// @include animation($properties: color);
// -------------------------------------------------------------------

@mixin flex-center($type: flex, $justify: center, $aling: center) {
  display: $type;
  justify-content: $justify;
  align-items: $aling;
}

// @include flex-center(flex, space-between);
// -------------------------------------------------------------------

@mixin font-style($weight: 400, $size: 16px, $height: 16px, $spacing: 0.03em) {
  font-weight: $weight;
  font-size: $size;
  line-height: $height/$size;
  letter-spacing: $spacing;
}

// @include font-style($size: 16px, $height: 30px);

// @include font-style(700, 16px, 30px, 0.06em);
// --------------------------------------------------------------------

@mixin last-three($num) {
  &:nth-last-child(3n + #{$num}) {
    @content;
  }
}
@mixin last-four($num) {
  &:nth-last-child(4n + #{$num}) {
    @content;
  }
}
@mixin last-row($num) {
  &:nth-last-child(-n + #{$num}) {
    @content;
  }
}
